html, body {
	margin: 5px 0 0 0;
	padding: 0;
	background-color: #444444;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	border: none !important;
}

hr {
	margin: 0 0 5px 0;
	border-top: 1px solid #aaaaaa;
}

.clear {
	width: 100%;
	height: 10px;
	margin: 1px auto 0 auto;
	padding: 0;
	clear: both !important;
	z-index: 100;
}

/**********************************
 * Structure
 **********************************/
div.main.container {
	min-width: 1170px;
	max-width: 1170px;
}

header {
	width: 100%;
	margin: 5px 0 0 0;
}

.nav {
	margin: 1px 10px 0 0;
	border-bottom: none;
}

.nav li a {
	color: #888888;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color: #cccccc;
	background-color: #888888;
}

#title {
	min-height: 35px;
	margin-bottom: 0;
}

#title h3 {
	margin: 10px 0 0 15px;
	padding: 0;
	color: #aaaaaa;
}

.content {
	width: 100%;
	height: auto;
	padding: 5px 0 5px 0;
	background-color: #888888;
	border-top: none;
	border-radius: 6px;
}

.parent-view {
	padding: 0 0 0 3px;
}

.sub-view {
}

footer {
	width: 100%;
	min-height: 5px;
	clear: both !important;
}

.shadow {
	box-shadow: 1px 1px 2px 2px #333333;
}

.inner-shadow {
	box-shadow: inset 0 0 10px #000000;
}

span.help {
	width: 16px;
	height: 16px;
	border-radius: 10px;
	border: 2px solid #aaaaaa;
	color: #aaaaaa;
	display: inline;
	float: right;
}

span.help:hover {
	border: 2px solid #666666;
}

/**********************************
 * Splash Screen Layout
 **********************************/

#splash_content {
	margin: 200px auto 0 auto;
}

#splash_logo {
	width: 50%;
	margin: 0 auto 20px auto;
	overflow: hidden;
	border-radius: 6px;
	border: 1px solid #111111;
}

#splash_progress {
	width: 50%;
	margin: 0 auto 0 auto;
}

#splash_progress_label {
	color: #dddddd;
}

#splash_progress_bar {
}

/**********************************
 * Camera Screen Layout
 **********************************/

#camera {
}

#camera_navigation, #expand_navigation {
	min-height: 35px;
	margin: 10px 0 5px 0;
	padding: 0 10px 0 10px;
}

#camera_navigation div.navbar, #expand_navigation div.navbar {
	margin: 0 0 5px 0;
	padding-right: 2px;
}

#expand_navigation {
	display: none;
}

#imaging, #power_meter, #expert_config {
	margin-bottom: 10px;
}

#power_meter {
	display: none;
}

#expert_config {
	display: none;
}

#imaging div.left-column, #power_meter div.left-column, #expert_config div.left-column {
	margin: 0 0 0 40px;
	min-height: 518px;
	background-color: #666666;
	border-radius: 4px;
}

#imaging div.right-column, #power_meter div.right-column, #expert_config div.right-column {
	margin: 0 0 0 5px;
	padding: 0;
	height: 480px;
	background-color: #444444;
	border-radius: 4px;
}

#power_meter div.right-column, #expert_config div.right-column {
	min-height: 520px;
}

/* Imaging Viewer */
#image_viewer {
	width: 100%;
	height: 480px;
	margin: 0 auto 0 auto;
	display: block !important;
	z-index: 10;
	background-color: #444444;
	border-radius: 4px;
}

#status_bar {
	width: 100%;
	min-height: 35px;
	margin: 5px 0 5px 0;
	background-color: #666666;
	border-radius: 4px;
}

/* Expanded Image View */
.expand-view {
	min-width: 1024px;
	height: 768px;
	margin: 0 10px 0 40px;
	padding: 10px 0 10px 0;
	display: none;
	z-index: 10;
	background-color: #444444;
	border-radius: 4px;
}

.image-placeholder {
	width: 1024px;
	height: 768px;
	margin: 0 auto 0 auto;
	padding: 0;
	display: block;
	background-color: #000000;
}

/**********************************
 * Camera Screen Widgets
 **********************************/
#capture_widget, #save_file_widget, #quality_widget, #meter_data_widget, #sample_count_widget, #mirror_state_widget, #display_mode_widget {
	width: 90%;
	margin: 10px 0 10px 8px;
	padding: 5px;
}

#save_file_widget > div > button.btn, 
#capture_widget > button.btn, 
#status_bar > button.btn, 
#meter_data_widget > div > button.btn,
#auto_save_toggle > button.btn {
	font-size: 0.75em;
}

/* Progress Bars */
#capture_widget > div.progress, #meter_data_widget > div.progress {
	margin-top: 10px;
}

#capture_widget > div.progress, #meter_data_widget > div.progress {
	margin-bottom: 0;
}

/* Capture Widget */
#capture_widget > div#record_indicator {
	width: 8px !important;
	height: 8px !important;
	margin: 10px 5px 0 0;
	padding: 0;
	display: inline;
	float: right;
	border-radius: 8px;
	background-color: #880000;
}

#capture_widget > #record_button {
}

/* Save Widget */
.autosave_section {
	margin: 32px 0 0 0;
}

.autosave_section > p > input#auto_save_folder {
	width: 95%;
}

.autosave_section > p {
	margin-bottom: 0;
}

div#auto_save_toggle {
}

/* Quality Widget and Meter Data Widget*/

#low_label,
#high_label {
    margin: 0 10px 0 5px;
    font-size: 0.75em;
    display: inline !important;
}

#quality_widget > div#amount_of_time_slider, 
#sample_count_widget > div#sample_count_slider {
	margin-top: 5px;
	margin-left: 5px;
	width: 93%;
}

#quality_widget > p, #sample_count_widget > p {
	margin: 10px 0 0 0;
}

#quality_widget > p > label, #sample_count_widget > p > label {
	font-size: 0.75em;
	display: inline !important;
}

#quality_widget > p > input, #sample_count_widget > p > input {
	margin-top: 6px;
	padding: 0;
	width: 28px;
	display: inline !important;
}

#sample_count_widget > p > input {
	width: 32px !important;
}

#amount_of_time, #sample_count_units {
	border: none;
	color: #0055CC;
	font-size: 0.95em;
	font-weight: bold;
}

/* Meter Data Widget */

/* Sample Count Widget */

/* Mirror State Widget */
#mirror_state_widget > form > select {
	width: 100%;
}

/* Display Mode Widget */

/* Status Bar */
#status_bar > #status_labels {
	width: 50%;
	height: auto;
	padding-top: 8px;
	float: left;
}

#status_labels > label {
	margin-left: 10px;
	display: inline !important;
	color: #cccccc;
}

#status_bar > button.btn {
	margin: 3px 3px 0 0;
}

/**********************************
 * Add/Remove Camera Screen Layout
 **********************************/

#add_remove_camera {
}

#add_remove_layout {
	margin-top: 10px;
	margin-bottom: 10px;
}
#add_remove_layout div.left-column {
	margin: 0 0 0 40px;
	min-height: 563px;
	background-color: #666666;
	border-radius: 4px;
}

#add_remove_layout div.right-column {
	margin: 0 0 0 5px;
	padding: 0;
	height: auto;
	background-color: #444444;
	border-radius: 4px;
}

#camera_connections {
	height: 565px;
	padding: 0;
}

#camera_connections div.left-section,
#camera_connections div.right-section {
	width: 50%;
	float: left;
}

#camera_connections div.right-section {
	float: right;
}
.camera-block {
	margin: 2%;
	padding: 2%;
	width: 92%;
	height: 150px;
	border: 1px solid #444444;
	border-radius: 4px;
	background-color: #eeeeee;
}

.camera-header {
	margin: 4px 4px 4px 10px;
}

.camera-badge {
	
}

.camera-content {
	
}

/**********************************
 * Add/Remove Camera Screen Widgets
 **********************************/
#add_camera_widget {
	width: 90%;
	min-height: 200px;
	margin: 10px 0 10px 8px;
	padding: 5px;
}

#add_camera_widget > div > form > input,
#add_camera_widget > div > form > div.ip-field > input {
	width: 96%;
	margin-bottom: 10px;
}

#add_camera_widget > div > form > select {
	width: 100%;
	margin-bottom: 10px;
}

#add_camera_widget > div > form > textarea {
	min-width: 96%;
	max-width: 96%;
	min-height: 100px;
	max-height: 200px;
	margin-bottom: 10px;
}

div.ip-field {
	display: none;
}


/**********************************
 * Help Screen Layout
 **********************************/

#help {
}

#help_layout {
	margin-top: 10px;
	margin-bottom: 10px;
}

#help_layout div.left-column {
	margin: 0 0 0 40px;
	height: auto;
	background-color: #666666;
	border-radius: 4px;
	position: fixed;
	z-index:1000;
}

#help_layout div.right-column {
	margin: 0 10px 0 5px;
	padding: 0;
	min-height: 565px;
	background-color: #444444;
	border-radius: 4px;
	float: right;
}

#help_content {
	width: 96.75%;
	height: 100%;
	margin: 10px 0 10px 8px;
	padding: 5px;
}

/**********************************
 * Help Screen Widgets
 **********************************/
#help_nav_widget {
	width: 90%;
	height: 100%;
	margin: 10px 0 10px 8px;
	padding: 5px;
}



/**********************************
 * Debug
 **********************************/

.bdr {
	border: 1px solid #ffffff;
}

.dbkg {
	background-color: #aaaaaa;
}

.dbkg-red {
	background-color: #ff0000;
}

.dbkg-green {
	background-color: #00ff00;
}

.dbkg-blue {
	background-color: #0000ff;
}

.dbkg-orange {
	background-color: #ff9900;
}

.dbkg-magenta {
	background-color: #ff00ff;
}

.dbkg-cyan {
	background-color: #00ffff;
}
