<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CompressView</title>

		<!-- Styles -->
		<link rel="stylesheet" href="/static/jquery-ui-1.8.20.custom/css/ui-lightness/jquery-ui-1.8.20.custom.css" />
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/css/styles.css" />

		<!-- jQuery and jQuery UI -->
		<script type="text/javascript" src="/static/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js"></script>

		<!-- Boostrap -->
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>

		<!-- Ember -->
		<script type="text/javascript" src="/static/js/ember-0.9.8.1.min.js"></script>

		<!-- D3 -->
		<script type="text/javascript" src="/static/js/d3.v2.js"></script>
		<script type="text/javascript" src="/static/js/line_graph.js"></script>

		<!-- Raphael -->
		<script type="text/javascript" src="/static/js/raphael.min.js"></script>

		<!-- MVC -->
		<script type="text/javascript" src="/static/js/services.js"></script>
		<script type="text/javascript" src="/static/js/controllers.js"></script>
		<script type="text/javascript" src="/static/js/views.js"></script>

		<!-- CompressView -->
		<script type="text/javascript" src="/static/js/navigation.js"></script>
		<script type="text/javascript" src="/static/js/cameras.js"></script>

	</head>
	<body>
		
		<!-- Begin Splash -->
		<div id="splash_container" class="splash-container row">
			<div id="splash_content" class="">
				<div id="splash_logo" class="logo shadow">
					<img src="/static/images/ivlogo.png" />
				</div>
				<div id="splash_progress">
					<div id="splash_progress_label" class="">
						Searching for cameras...
					</div>
					<div id="splash_progress_bar" class="progress progress-striped active">
						<div class="bar"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Splash -->
		
		<!-- Begin App -->
		<div class="main container" style="display:none;">

			<!-- Begin App Header -->
			<header>
				<div class="row">
				    <!-- Camera View Widget Template -->
                    <script type="text/x-handlebars">
                        {{#view App.CameraView}}
        					<div id="title" class="span3">
        						<h3>{{content.currentCameraName}}</h3>
        					</div>
        			     {{/view}}
        		   </script>
					<div id="main_navigation" class="span9">
						<ul class="nav nav-tabs pull-right">
							<li class="active">
								<a id="camera_link">Camera</a>
							</li>
							<li>
								<a id="add_remove_link">Add/Remove Camera</a>
							</li>
							<li>
								<a id="help_link">Help</a>
							</li>
						</ul>
					</div>
				</div>
			</header>
			<!-- End App Header -->

			<!-- Begin App Content -->
			<div class="content shadow">
				
				<!-- Begin Camera Screen Content -->
				<div id="camera" class="parent-view ">
					<div id="camera_navigation" class="">
						<div class="navbar">
							<div class="navbar-inner">
								<div class="container">
									<ul class="nav">
										<li class="active">
											<a id="imaging_nav_link" href="#">Imaging</a>
										</li>
										<li>
											<a id="power_meter_nav_link" href="#">Power Meter</a>
										</li>
										<li>
											<a id="expert_config_nav_link" href="#">Expert Configuration</a>
										</li>
									</ul>
									
								    <!-- Camera View Widget Template -->
                                    <script type="text/x-handlebars">
                                        {{#view App.CameraView}}
                                        <ul class="nav pull-right">
                                            <li class="divider-vertical"></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Camera<b class="caret"></b></a>
                                                <ul id="camera_list" class="dropdown-menu">
                                                    {{#each content.cameraNames}}
                                                    <li>
                                                        <a class="camera-link" href="#" {{action "selectCamera" on="click"}}>{{this}}</a>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </li>
                                        </ul>
                                        {{/view}}
                                    </script>
                                    
								</div>
							</div>
						</div>
					</div>
					<div id="expand_navigation">
						<div class="navbar">
							<div class="navbar-inner">
								<div class="container">
									<ul class="nav">
										<li>
											<a id="expand_return_button" href="#">
											    &nbsp;<i class="icon-chevron-left icon-white"></i>&nbsp;Imaging</a>
										</li>
									</ul>
									<ul class="nav pull-right">
										<li>
											<a data-toggle="modal" href="#save_image_modal">
											    &nbsp;<i class="icon-picture icon-white"></i>&nbsp;Save</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div id="imaging" class="sub-view row">
						<div class="left-column span3 shadow">

							<!-- Capture Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.CaptureWidgetView}}
									<div id="capture_widget" class="well span3">
										<button id="stop_button" class="btn btn-primary">
											<i class="icon-stop icon-white"></i>&nbsp;Stop
										</button>
										<button id="snapshot_button" class="btn btn-primary">
											<i class="icon-camera icon-white"></i>&nbsp;Snapshot
										</button>
										<div id="record_indicator"></div>
										<button id="record_button" class="btn btn-primary">
											<i class="icon-facetime-video icon-white"></i>&nbsp;Record
										</button>
										<div id="capture_widget_progress_bar" class="progress progress-striped active">
											<div class="bar"></div>
										</div>
									</div>
								{{/view}}
							</script>

							<!-- Save File Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.SaveFileWidgetView}}
									<div id="save_file_widget" class="well span3">
										<span id="save_file_widget_tootlip" class="help ui-icon ui-icon-help" rel="popover"></span>
										<div>
											<label><i class="icon-picture icon"></i>&nbsp;Save Image File</label>
											<hr>
											<button id="save_button" data-toggle="modal" href="#save_image_modal" class="btn btn-primary pull-right">
												<i class="icon-picture icon-white"></i>&nbsp;Save
											</button>
										</div>
										<div class="autosave_section">
											<label><i class="icon-folder-open icon"></i>&nbsp;Autosave Location</label>
											<hr>
											<p>
												<input type="text" id="auto_save_folder" {{bindAttr placeholder="content.autosavePath"}} disabled="true" />
												<div id="auto_save_toggle" class="btn-group pull-right" data-toggle="buttons-radio">
													<button id="autosave_on" class="btn btn-primary" {{action "setAutosaveOn" on="click"}}>On</button>
													<button id="autosave_off" class="btn btn-primary active" {{action "setAutosaveOff" on="click"}}>Off</button>
												</div>
											</p>
										</div>
									</div>
								{{/view}}
							</script>

							<!-- Quality Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.QualityWidgetView}}
									<div id="quality_widget" class="well span3">
										<span id="quality_widget_tooltip"  class="help ui-icon ui-icon-help" rel="popover"></span>
										<label><i class="icon-cog icon"></i>&nbsp;Quality</label>
										<hr>
										<label id="low_label">Low</label>
										<label id="high_label" class="pull-right">High</label>
										<div id="amount_of_time_slider"></div>
										<p>
											<label for="amount_of_time">Capture Time:</label>
											<input type="text" id="amount_of_time" disabled="true" />
											<label>minutes</label>
										</p>
									</div>
								{{/view}}
							</script>

						</div>
						<div class="right-column span9">
							<div id="image_viewer"></div>
							
							<!-- Status Bar Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.StatusBarWidgetView}}	
									<div id="status_bar" class="">
										<div id="status_labels">
											<label id="status">Status: Ready</label>
											<label id="status_divider">|</label>
											<label id="last_saved_timestamp">Last Saved: 2012-09-26 11:30:05</label>
										</div>
										<button id="expand_button" class="btn btn-primary pull-right">
											<i class="icon-fullscreen icon-white"></i>&nbsp;Expand
										</button>
									</div>
								{{/view}}
							</script>
							
						</div>
						<div class="expand-view shadow">
							<div class="image-placeholder"></div>
						</div>
					</div>
					<div id="power_meter" class="sub-view row">
						<div class="left-column span3 shadow">

							<!-- Meter Data Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.MeterDataWidgetView}}
									<div id="meter_data_widget" class="well span3">
										<span id="meter_data_widget_tootlip" class="help ui-icon ui-icon-help" rel="popover"></span>
										<div>
											<label><i class="icon-download icon"></i>&nbsp;Meter Data</label>
											<hr>
											<button id="stop_data_button" class="btn btn-primary">
												<i class="icon-stop icon-white"></i>&nbsp;Stop
											</button>
											<button id="acquire_data_button" class="btn btn-primary">
												<i class="icon-cog icon-white"></i>&nbsp;Acquire Data
											</button>
											<button id="save_data_button" data-toggle="modal" href="#save_data_modal" class="btn btn-primary pull-right">
												<i class="icon-file icon-white"></i>&nbsp;Save
											</button>
										</div>
										<div id="meter_data_widget_progress_bar" class="progress progress-striped active" >
											<div class="bar"></div>
										</div>
									</div>
								{{/view}}
							</script>

							<!-- Sample Count Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.SampleCountWidgetView}}
									<div id="sample_count_widget" class="well span3">
										<span id="sample_count_widget_tooltip" class="help ui-icon ui-icon-help" rel="popover"></span>
										<label><i class="icon-cog icon"></i>&nbsp;Sample Count</label>
										<hr>
										<div id="sample_count_slider"></div>
										<p>
											<label for="sample_count_units">Sample Count:</label>
											<input type="text" id="sample_count_units" disabled="true" />
											<label>units</label>
										</p>
									</div>
								{{/view}}
							</script>

							<!-- Mirror State Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.MirrorStateWidgetView}}
									<div id="mirror_state_widget" class="well span3">
										<span id="mirror_state_widget_tooltip" class="help ui-icon ui-icon-help" rel="popover"></span>
										<label><i class="icon-cog icon"></i>&nbsp;Mirror State</label>
										<hr>
										<form class="form-horizontal">
											<select>
												<option>Static</option>
												<option>Active</option>
											</select>
										</form>
									</div>
								{{/view}}
							</script>

						</div>
						<div class="right-column span9">
							<div id="power-spectrum-chart"></div>
							<div id="power-spectrum-info"></div>
						</div>
					</div>
					<div id="expert_config" class="sub-view row">
						<div class="left-column span3 shadow">

							<!-- Display Mode Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.DisplayModeWidgetView}}
									<div id="display_mode_widget" class="well span3">
										<span id="display_mode_widget_tooltip" class="help ui-icon ui-icon-help" rel="popover"></span>
										<label><i class="icon-cog icon"></i>&nbsp;Display Mode</label>
										<hr>
										<form class="form-horizontal">
											<label class="checkbox">
												<input type="checkbox" value="1" />
												&nbsp;Show all register controls</label>
										</form>
									</div>
								{{/view}}
							</script>

						</div>
						<div class="right-column span9">
							<!-- Empty -->
						</div>
					</div>
				</div>
				<!-- End Camera Screen -->
				
				<!-- Begin Add/Remove Camera Screen -->
				<div id="add_remove_camera" class="parent-view" style="display: none;">
					<div id="add_remove_layout" class="sub-view row">
						<div class="left-column span3 shadow">
							
							<!-- Add New Camera Widget Template -->
							<script type="text/x-handlebars">
								{{#view App.AddNewCameraWidgetView}}
									<div id="add_camera_widget" class="well span3">
										<span id="add_camera_widget_tootlip" class="help ui-icon ui-icon-help" rel="popover"></span>
										<div>
											<label><i class="icon-cog icon"></i> Add New Camera</label>
											<hr>
											<form class="form-horizontal">
												<label for="camera_name">Name:</label>
												<input type="text" class="input" id="camera_name">
												<label for="camera_connection">Connection:</label>
												<select id="camera_connection">
                                                    {{#each content.interfaceList}}
                                                    	<option>{{id}}</option>
                                                    {{/each}}
												</select>
												<div class="ip-field">
													<label for="camera_ip">IP Address:</label>
													<input type="text" class="input" id="camera_ip" placeholder="127.0.0.1">
												</div>
												<label  for="camera_comments">Comments:</label>
												<textarea class="input" id="camera_comments"></textarea>
												<button type="submit" class="btn btn-primary pull-right">
													Setup
												</button>
												<button class="btn">
													Cancel
												</button>
											</form>
										</div>
									</div>
								{{/view}}
							</script>
							
						</div>
						<div class="right-column span9">
							<div id="camera_connections">
								<div class="left-section">
									
									<!-- Begin Camera Connection Template -->
									<script type="text/x-handlebars">
										{{#view App.CameraListView}}
											{{#each content.cameraList}}
												<section class="camera-block">
													<label><i class="icon-cog icon"></i> {{device}}</label>	
													<hr>
													<div class="camera-badge"></div>
													<div class="camera-content">
														<button {{bindAttr rel="device"}} {{action "openCamera" on="click"}} class="btn btn-primary" style="margin-left:10px;" >Setup</button>
													</div>
												</section>
											{{/each}}
										{{/view}}
									</script>
									
								</div>
								<div class="right-section">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Add/Remove Camera Screen -->
				
				<!-- Begin Help Screen -->
				<div id="help" class="parent-view" style="display: none;">
					<div id="help_layout" class="sub-view row">
						<div class="left-column span3 shadow">
							<div id="help_nav_widget" class="well span3">
								<div>
									<label><i class="icon-cog icon"></i> Table of Contents</label>
									<hr>
                                    
                                    <!-- Help Widget Template -->
                                    <script type="text/x-handlebars">
                                        {{#view App.HelpWidgetView}}
                                            {{#each content.help}}
                                                <h4><a href="#section">{{section.title}}</a></h4>
                                                    <ul>
                                                        {{#each section.content}}
                                                            <li>{{subject}}</li>
                                                        {{/each}}
            									   </ul>
            							     {{/each}}
                                        {{/view}}
                                    </script>
                                    
								</div>
							</div>
						</div>
						<div class="right-column span9">
							<div id="help_content" class="well">
							    
                                <!-- Help Widget Template -->
                                <script type="text/x-handlebars">
                                    {{#view App.HelpWidgetView}}
                                        {{#each content.help}}
                                            <section id="section">
                                                <h3>{{section.title}}</h3>
                                                <hr>
                                                {{#each section.content}}
                                                    <h4><a id="subject">{{subject}}</a></h4>
                                                    <p>{{body}}</p>
                                                {{/each}}
                                            </section>
                                         {{/each}}
                                    {{/view}}
                                </script>
                                
							</div>
						</div>
					</div>
				</div>
				<!-- End Help Screen -->

			</div>
			<!-- End App Content -->

			<!-- Screen Footer -->
			<footer></footer>

			<!-- Modals -->
			<div id="save_image_modal" class="modal fade hide" >
				<div class="modal-header">
					<h3>Save Image File</h3>
				</div>
				<div class="modal-body">
					<p>
						Save image file content goes here...
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancel</a>
					<a id="modal_image_save_button" href="#" class="btn btn-primary">Save</a>
				</div>
			</div>

			<div id="save_data_modal" class="modal fade hide" >
				<div class="modal-header">
					<h3>Save Data File</h3>
				</div>
				<div class="modal-body">
					<p>
						Save raw data content goes here...
					</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancel</a>
					<a id="modal_data_save_button" href="#" class="btn btn-primary">Save</a>
				</div>
			</div>
			<!-- End Modals -->

		</div>
	</body>
</html>